.ImportsNextcloudDialog-field
  display flex
  flex-direction column
  gap 4px
  width 100%

.ImportsNextcloudDialog-fieldSpaced
  display flex
  flex-direction column
  gap 4px
  width 100%
  margin-top 8px

.ImportsNextcloudDialog-input
  padding 8px
  width 100%
  box-sizing border-box

.ImportsNextcloudDialog-error
  display block
  margin-top 8px
