.ImportsNextcloudDialog-field
  display flex
  flex-direction column
  gap 4px
  width 100%

.ImportsNextcloudDialog-fieldSpaced
  display flex
  flex-direction column
  gap 4px
  width 100%
  margin-top 8px

.ImportsNextcloudDialog-input
  padding 8px
  width 100%
  box-sizing border-box

.ImportsNextcloudDialog-error
  display block
  margin-top 8px

.ImportsNextcloudSection-row
  display flex
  align-items center
  gap 8px

.ImportsNextcloudSection-rowWrap
  display flex
  align-items center
  gap 8px
  flex-wrap wrap

.ImportsNextcloudPathSection-actions
  display flex
  align-items center
  gap 8px
  flex-wrap wrap

.ImportsView-switchRow
  margin 24px 0
  display flex
  align-items center
  gap 8px

.ImportsView-actionsRow
  display flex
  gap 8px
  margin-bottom 16px
